@font-face {
   font-family: 'Trajan Pro';
   font-display: swap;
   src: url('file:///C:/Users/adria/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-03-10_205858/fonts/Trajan%20Pro/font.ttf');
}
